<%- include('base/header') -%>
<div class="services">
  <div class="container">
    <div class="row justify-content-center" style="padding-top: 4.5rem">
      <h1
        class="text-uppercase mb-4 text-center"
        style="font-weight: 900; color: var(--primary-orange)"
      >
        OUR <span style="color: var(--primary-black)">SERVICES</span>
      </h1>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="our-services-card">
          <div class="services-image">
            <img src="/img/online.png" alt="learn-img" class="services-img" />
            <hr />
          </div>
          <div
            style="
              color: var(--primary-black);
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
            "
          >
            Online entrance
            <span style="color: var(--primary-orange)">class</span>
          </div>
          <div
            class="mt-2"
            style="
              font-size: 14px;
              color: var(--primary-black);
              font-weight: 400;
              line-height: 1.65rem;
            "
          >
            We are providing an online entrance class for Bsc. CSIT, BCA, CMAT,
            BIT, and Bcs. Hons. We have the best teacher to teach and a friendly
            environment for students to interact with teachers. Mock test
            questions will be provided to all the students studying online to
            test their capabilities. we help students to understand the exam
            pattern, and syllabus, and develop effective study strategies.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-0">
        <div class="our-services-card">
          <div class="services-image">
            <img src="/img/physical.png" alt="learn-img" class="services-img" />
            <hr />
          </div>
          <div
            style="
              color: var(--primary-black);
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
            "
          >
            Physical entrance
            <span style="color: var(--primary-orange)">class</span>
          </div>
          <div
            class="mt-2"
            style="
              font-size: 14px;
              color: var(--primary-black);
              font-weight: 400;
              line-height: 1.65rem;
            "
          >
            We provide 3 shifts for physical students which are morning, day,
            and evening classes. We have experienced teachers with the best
            platform for student learning that allows students to have direct
            face-to-face interaction with teachers and classmates A mock test is
            performed every Saturday that will help students to increase their
            confidence.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
        <div class="our-services-card">
          <div class="services-image">
            <img src="/img/counselling.png" alt="learn-img" class="services-img" />
            <hr />
          </div>
          <div
            style="
              color: var(--primary-black);
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
            "
          >
            Proper counseling &
            <span style="color: var(--primary-orange)">guideline</span>
          </div>
          <div
            class="mt-2"
            style="
              font-size: 14px;
              color: var(--primary-black);
              font-weight: 400;
              line-height: 1.65rem;
            "
          >
            We provide information about various career options, assist students
            in exploring their interests and skills, and help them make informed
            decisions about their future education and career paths. we
            encourage students to develop a growth mindset, set personal goals,
            and overcome obstacles.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="our-services-card">
          <div class="services-image">
            <img src="/img/learn.png" alt="learn-img" class="services-img" />
            <hr />
          </div>
          <div
            style="
              color: var(--primary-black);
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
            "
          >
            Study
            <span style="color: var(--primary-orange)">material</span>
          </div>
          <div
            class="mt-2"
            style="
              font-size: 14px;
              color: var(--primary-black);
              font-weight: 400;
              line-height: 1.65rem;
            "
          >
            We provide the latest edition book containing all old questions, the
            model set, and important formulas of all topics. These papers offer
            insights into the exam pattern, question types, and difficulty
            level. Solving these papers gives students a realistic idea of what
            to expect in the actual exam and helps them practice time
            management. Weekly mock test is conducted so that students can
            practice for the entrance examination.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="our-services-card">
          <div class="services-image">
            <img src="/img/scholar.png" alt="learn-img" class="services-img" />
            <hr />
          </div>
          <div
            style="
              color: var(--primary-black);
              font-size: 15px;
              font-weight: 600;
              text-transform: uppercase;
            "
          >
          Scholarships in different 
            <span style="color: var(--primary-orange)">Faculty</span>
          </div>
          <div
            class="mt-2"
            style="
              font-size: 14px;
              color: var(--primary-black);
              font-weight: 400;
              line-height: 1.65rem;
            "
          >
            We provide the latest edition book containing all old questions, the
            model set, and important formulas of all topics. These papers offer
            insights into the exam pattern, question types, and difficulty
            level. Solving these papers gives students a realistic idea of what
            to expect in the actual exam and helps them practice time
            management. Weekly mock test is conducted so that students can
            practice for the entrance examination.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('base/footer') -%>
