.services {
  margin-top: 88px;
}

.our-services-card {
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 20px rgb(1 41 112 /10%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  max-height: 650px;
  height: 100%;
}

.our-services-card:hover {
  transform: scale(1.04);
}

.services-img {
  max-height: 100%;
  max-width: 100%;
}
