.contact {
  margin-top: 88px;
}

.contact-form {
  box-shadow: 0px 2px 20px rgb(1 41 112 /10%);
  height: auto;
  border-radius: 0.5rem;
  padding: 2.25rem;
}

@media only screen and (max-width: 676px) {
  .contact-form {
    padding: 1.5rem !important;
  }
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  border: none;
  padding: 0.7rem 1rem 0.7rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgb(244, 244, 244);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form select::placeholder {
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  background-color: rgb(255, 246, 239);
}

.contact-form input:focus-within,
.contact-form textarea:focus-within,
.contact-form select:focus-within {
  background-color: rgb(255, 246, 239);
  outline: 1px solid var(--primary-orange);
}

.contact-img {
  width: 700px;
}

.contact-info-card {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 20px rgb(1 41 112 /10%);
  padding: 1.25rem 1rem 1.25rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.contact-info-card:hover {
  transform: scale(1.05);
}

.contact-input-wrap span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-orange);
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}
